main {
    background-color: darkred;
    padding-top: 1em;
}

body {
    font-size: 2em;
}

div.container {
    justify-content: center;
    background: pink;
    border: 5px solid black;
    border-radius: 1em;
    padding: 1em;
    margin: 0.25em auto;
    height: 100% auto;
    width: 90%;
    object-fit: fill;
}

.Spotify > a {
    color: black;
    text-decoration: none;
}
.Spotify > a:hover {
    color: rgb(30, 215, 96);
}

.Apple-Music > a {
    color: black;
    text-decoration: none;
}
.Apple-Music > a:hover {
    color: rgb(255, 59, 48);
}

.Amazon-Music > a {
    color: black;
    text-decoration: none;
}
.Amazon-Music > a:hover {
    color: rgb(0, 181, 166);
    text-decoration: none;
}

.YouTubeMusic > a {
    color: black;
    text-decoration: none;
}
.YouTubeMusic > a:hover {
    color: rgb(255, 0, 0);
}
