div.container {
    justify-content: center;
    background: pink;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 1rem auto;
}

.Spotify > a {
    color: black;
    text-decoration: none;
}

.Spotify > a:hover {
    color: rgb(30, 215, 96);
}

.SpotifyLogo {
    max-width: 20px;
}

.Apple-Music > a {
    color: black;
    text-decoration: none;
}
.Apple-Music > a:hover {
    color: rgb(255, 59, 48);
}
.Apple-MusicLogo {
    max-width: 20px;
}