body {
    font-family: Arial, sans-serif;
    background-color: white;
}

main {
    justify-content: center;
    font-size: 1em;
    background-color: red;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 0 5px black, 0 0 10px black;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

.red {
    background: linear-gradient(to bottom, red, rgb(255, 155, 0));
}

.orange {
    background: linear-gradient(to bottom, rgb(255, 155, 0) , yellow);
}

.yellow {
    background: linear-gradient(to bottom, yellow, green);
}

.green {
    background: linear-gradient(to bottom, green, blue);
}

.blue {
    background: linear-gradient(to bottom, blue, indigo);
}

.purple {
    background: linear-gradient(to bottom, indigo, violet);
}

.repeat {
    background: linear-gradient(to bottom, violet 0%, pink 50%, red 100%);
}

tr > td > a:hover {
    color: turquoise;
}

tr > td > a {
    text-decoration: none;
    color: black;
}

